---
layout: layout
title: Blog
---

<h1 class="title">{{ site.title }}</h1>

<div class="container">
<h3>Archive</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		{% for post in site.posts %}
			<div class="row">
				 <div class="col-sm-4 col-md-4 col-lg-4">
					 <h5 style="text-align: right">
					 	{{ post.date | date: "%B %e, %Y" }}
					 </h5>
				 </div>
				 <div class="col-sm-8 col-md-8 col-lg-8">
					 <h5 style="text-align: left">
					 	<strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
					 </h5>
				 </div>
			</div>
	    {% endfor %}
	</div>
  </div>
</div>
