<footer>
    <div id="footer">
        <div class="container">
            <p class="text-muted">© All rights reserved. Powered by <a href="http://jekyllrb.com/">Jekyll</a>
            </p>
        </div>
    </div>
</footer>
<div class="footer"></div>
