<script src="{{ site.baseurl }}/static/js/jquery/jquery-3.3.1.min.js"></script>
<script src="{{ site.baseurl }}/static/js/bootstrap/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Docs<span class="caret"></span></a>
			<ul class="dropdown-menu dropdown-menu-left">
				<li><a href="{{ site.baseurl }}/getstarted.html">Get Started</a></li>
			</ul>
		</li>
        <li><a href="{{ site.baseurl }}/auth.html">FejoaAuth</a></li>
        <li><a href="{{ site.baseurl }}/blog.html">BLOG</a></li>
      </ul>
    </div>
  </div>
</nav>
