---
layout: layout
---

<h1 class="title">FejoaAuth: Secure Password-based Authentication </h1>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="blogpost">
			{{ content }}
			</div>
		</div>
	</div>
</div>
