---
layout: layout
---

<h1 class="title">{{ site.title }}</h1>

<div class="container">
	<div class="blog-post">
		<h3>
		  <strong><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></strong>
		</h3>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="blogpost">
			  {{ content }}
		</div>
	</div>
</div>
